:root {
  --accent-color: #2196f3;
  --main-title-color: #212121;
  --main-text-color: #757575;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h2,
h3 {
  color: var(--main-title-color);
}

.btn {
  cursor: pointer;
}

.section.no-padding{
    padding-top: 0px;
    padding-bottom: 0px;
}
/*------------------------------------------Header---------------------------------------------*/

.header {
  background-color: #ffffff;
  
}

.header-logo {
 display: inline-block;
    font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.83;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;

  padding-top: 25px;
}
.header-list-item{
    padding: 32px 0px;
}
.header-logo span,
footer span {
  color: var(--accent-color);
}

.header-link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;
  padding: 15px;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-mail {
    display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;

  color: #757575;
  padding: 32px 0px;
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-tel {
    display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;
  padding: 32px 0px;
  margin-left: 50px;

  color: #757575;
}
.header-tel:hover {
  color: var(--accent-color);
}

/*---------------------------------------Hero----------------------------------*/

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  
}
.hero>.container{
width: 696px;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;

    margin-bottom: 30px;
}
.hero-btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;


  background-color: var(--accent-color);
  color: #ffffff;

  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;
  text-align: center;
  margin: 0px auto;
}

/*-----------------------------------Speciality-----------------------------------*/
.speciality {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #ffffff;
}
.speciality-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-title-color);

  margin-bottom: 10px;
  max-width: 270px;
}

.speciality-title-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  max-width: 270px;

  color: var(--main-text-color);
}


/*-------------------------------------------Work--------------------------------*/
.work {
  padding-bottom: 94px;
  background-color: #ffffff;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
  min-width: 376px;
}

/*----------------------------------------Team-----------------------------------*/

.team {
  padding-bottom: 94px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-title-color);

  min-width: 264px;
  margin-bottom: 50px;
}

.box{
    width: 270px;
    margin: 0 auto;
}

.box-item{
    min-width: 270px;
    outline: 1px solid blue;
    background-color: #ffffff;
}
.team-subtitle {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-title-color);

  margin-top: 30px;
  margin-bottom: 10px;
}
.team-list-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

/*----------------------------------------Footer----------------------------------*/

.footer {
  background-color: #2f303a;
padding: 60px 0px;
}

.footer-logo {
  display: inline-block;
    font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.83;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;

  min-width: 145px;

  margin-bottom: 20px;
}

.logo:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
}

.address-link {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;

  margin-bottom: 9px;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.footer-tel {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  padding: 15px 0px;
}
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-mail {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  padding: 15px 0px;
  margin-bottom: 9px;
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

/*-------------------------------------------Portfolio------------------------------*/

.portfolio {
  background-color: #e5e5e5;
}

.portfolio-btn {
  background-color: #f5f4fa;
  color: var(--main-title-color);

  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.portfolio-btn:hover {
  color: var(--accent-color);
}
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--main-title-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
