/*  цвета проэкта
#FFFFFF

#2F303A

#212121

#2196F3

#E5E5E5

#F5F4FA

#757575

*/
:root{
 --accent-color:#2196F3;
 --main-title-color:#212121;
 --main-text-color: #2F303A

}
body {
   font-family:"Roboto",sans-serif;
   background-color: #E5E5E5;
}

.list{
    list-style: none;
}

.link {
    text-decoration: none;
}

h2,
h3 {
color:var(--main-title-color)
}

.btn{
    cursor: pointer;
}

/*------------------------------------------Header---------------------------------------------*/

.header {
    background-color: #FFFFFF;

}

.logo {
    font-family: "Raleway", sans-serif; 
    font-weight: 700;
    font-size: 26px;
    line-height: 0.83;
    letter-spacing: 0.03em;
    color: #212121;
    text-decoration: none;
    
}
.logo:hover{
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
}
.header span, 
footer span {
    color:var(--accent-color) ;
}

.header-link {
    
        color: #212121;
        font-weight: 500;
        font-size: 14px;
        line-height: 0.87;
        letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
color:var(--accent-color);
text-decoration: underline;

}
.header-mail{
    font-weight: 500;
        font-size: 14px;
        line-height: 0.87;
        letter-spacing: 0.02em;

        color: var(--accent-color)
}
.header-mail:hover{
    text-decoration: underline;
}
.header-tel{
    font-weight: 500;
        font-size: 14px;
        line-height: 0.87;
        letter-spacing: 0.02em;
    
        color:  #757575;
}
.header-tel:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
}


/*---------------------------------------Hero----------------------------------*/

.hero{
    background-color: #2F303A;
}

.hero-title{
    font-weight: 900;
        font-size: 44px;
        line-height: 1.36;    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
}
.hero-btn{
    font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
    
        background-color: var(--accent-color);
        color: #FFFFFF;
}

/*-----------------------------------Speciality-----------------------------------*/
.speciality{
    
}
.speciality-title{
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
       
        color: var(--main-title-color);
}

.speciality-title-text{
    
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;

        color: var(--main-text-color)

}

/*-------------------------------------------Work--------------------------------*/

.work-title{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
}


/*----------------------------------------Team-----------------------------------*/


.team-title{

font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-title-color);
    }

.team-subtitle{

font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-title-color);

}
.team-list-text {

    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text-color);
    }

    /*----------------------------------------Footer----------------------------------*/

.footer{
    background-color: #2F303A;
}

.address-link{
    font-weight: 400;
    font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
}

.address-link:hover,
.address-link:focus{
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
}
.footer-tel{
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}



.footer-mail{
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);;

}
.footer-mail:hover,
.footer-mail:focus {
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
}

/*-------------------------------------------Portfolio------------------------------*/


.portfolio{
    background-color: #E5E5E5;
}

.portfolio-btn{
    background-color: #F5F4FA;
    color: var(--main-title-color);

    font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;

}
.portfolio-btn:hover {
 text-decoration: underline;
 text-decoration-color: var(--accent-color);
 
}
.portfolio-btn:focus{
    background-color: var(--accent-color);

}

.portfolio-title{
    font-weight: 700;
        font-size: 18px;
        line-height: 2.00;
        letter-spacing: 0.06em;

        color: var(--main-title-color);
}

.portfolio-text{

        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;

        color: var(--main-text-color);
}
